body {
    background: transparent !important;
}

#gamepad, #controller {
    opacity: 0.5;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.3));
}

button, .button, svg path {
    opacity: 1 !important;
    fill: rgba(255, 255, 255, 1) !important;
}
